@charset "UTF-8";

*{margin:0; padding:0; font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif, 'Noto Serif KR', serif; font-size: 15px; box-sizing: border-box;}
html,body {
    position: relative;
    height: 100%;
}

img{display: block; border:none;}
ul, li {list-style: none;}
a {text-decoration: none; color:#252525;}

#wrap, header, footer {width:100%; position: relative;}


@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TAEBAEKmilkyway';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/TAEBAEKmilkyway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

button, input[type="submit"], input[type="button"] {
	padding:6px 8px;
	background-color: #d0e385;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button:hover, input[type="submit"]:hover ,input[type="button"]:hover {
	background-color: #4da865;
	color:#fff;
}

/* header 시작*/
header {
	height: 50px;
	z-index: 9;
	padding-top:16px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

header img {
	width:54px;
}

#headerInWrap {
	width:1560px;
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	box-sizing: border-box;
	background-color:#ffffff52;
	overflow: hidden;
	margin:0 auto;
}

#menu1 {
	background-color:#fff;
}

#menu1 ul, #menu nav {
	padding-left:0px;
}

#menu1>nav {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	text-align: center;
}

#menu1>nav>li {
	width: 90px;
	position: relative;
}

#menu1>nav>li>a{
	font-size: 16px;
}

#menu1>nav>li:first-of-type{
	margin-left:24px;
}
#menu1>nav>li:last-of-type{
	margin-right:24px;
}

#menu1>nav>li>ul {
	height:0;
	background-color:#fff;
	transition: all 0.5s;
}

#menu1:hover>nav>li>ul {
	height:340px;
	background-color:#fff;
}


#menu1>nav>li>ul li{
	padding-top:10px;
	box-sizing: border-box;
}

#menu1>nav>li>ul>li>a{
	font-size: 15px;
}

#menu1>nav>li>ul li:nth-of-type(1) {
	padding-top:20px;
}

#menu1>nav>li>ul li a:hover {
	color: #A2A378;
}

#menu1>nav>li:hover>a{
	border-bottom: 2px solid #83764F;
	padding-bottom: 10px;
	box-sizing: border-box;
}

#mypageWrap {
	display: flex;
	gap:24px;
}



/* #headerInWrap>div:nth-of-type(1) {
	width: 10%;
}

#headerInWrap>div:nth-of-type(2) {
	width: 90%;
} */

/* header 끝*/

/* main 시작*/
#wrapper {
	width:1400px;
	margin:80px auto 0 auto;
	height: auto;
  	min-height: 100%;
  	padding-bottom: 7px;
}

#main {
	width: 85%;
	height: auto;
	padding: 10px;
	padding-right: 15%;
	background-color: white;
	text-align: center;
	display: inline-block;
}

/*  ==================================================================*/
/*subBanner 시작*/
.subBanner {
	width:100%;
	height:300px;
	position: relative;
	overflow: hidden;
}

.subBanner p{
	position: absolute;
	left:50%;
	top: 43%;
	transform: translate(-50%, -50%);
	font-family: 'TAEBAEKmilkyway';
	font-weight: 600;
	font-size:30px;
	color: #071E15;
	z-index: 7;
}

.subBanner img {
	position:relative;
	left:50%;
    transform: translateX(-50%);
	object-fit: cover;     
}

.adminsubBanner {
	width:100%;
	height:300px;
	position: relative;
	overflow: hidden;
}
.adminsubBanner p{
	position: absolute;
	left:50%;
	top: 35%;
	transform: translate(-50%, -50%);
	font-family: 'TAEBAEKmilkyway';
	font-weight: 600;
	font-size:30px;
	color: #E0FFFF;
	z-index: 7;
}
.adminsubBanner img {
	position:relative;
	left:50%;
    transform: translateX(-50%);
	object-fit: cover;     
}

.title {
	font-weight: 600;
	font-size: 20px;
}

/* sidemenu */
#aside {
	height: auto;
	background-color: white;
	width: 15%;
	padding: 0 10px 10px 10px;
	float: left;
}

#sidemenu {
	padding: 0 30px 30px 0;
}

#sidemenu li {
	padding: 14px 0;
}

#sidemenu .sidemenuTitle{
	font-weight: 600;
	font-size: 17px;
	color:#616161;
	border-bottom: 2px solid #e3e3e3;
	margin-right: 10px;
}

#sidemenu li a {
	position: relative;
	display: block;
	font-size: 16px;
}

#sidemenu li a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0px;
	height: 2px;
	margin: 5px 0 0;
	transition: all 0.2s ease-in-out;
	transition-duration: 0.3s;
	opacity: 0;
	background: linear-gradient(90deg, rgba(53,150,96,1) 0%, rgba(94,203,142,1) 35%, rgba(255,255,255,1) 100%);
}

#sidemenu li a:hover:after {
	width: 100%;
	opacity: 1;
}


#title {
	width: 100%;
	text-align: center;
	height: 100px;
	background-color: orange;
}

#title p {
	line-height: 100px;
}

#tt {
	text-align: left;
}

#cont {
	background-color: #fff;
	margin: 0 auto;
	width: 90%;
	border-collapse: collapse;
	
	/*어떤 테이블은 적용이 되고 안 될 수 도 있음*/
	margin-top: 10px;
	border-top: 3px solid #228B22;
}

/*table 테이블*/
#cont th {
	background-color: white;
	border-top: 3px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	padding: 20px;
}

#cont tr td {
	padding: 15px;
	border-bottom: 1px solid #C0C0C0;
}

/*어떤 테이블은 적용이 되고 안 될 수 도 있음*/
#cont tr:nth-of-type(2) {
	border-bottom: 1px solid #228B22;
}

.tableList tr:hover {
	background-color: #D3D3D3;
}

.tableList {
	margin-bottom: 20px !important;
}

textarea {
	width: 100%;
	height: 400px;
	padding: 20px;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.as {
	position: relative;
	font-size: 16px;
}

.as:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 0px;
	height: 2px;
	margin: 5px 0 0;
	transition: all 0.2s ease-in-out;
	transition-duration: 0.3s;
	opacity: 0;
	background-color: #8fd3f4;
}

.as:hover:after {
	width: 100%;
	opacity: 1;
}

/* main 끝*/

/* footer 시작*/
/*  ==================================================================*/
footer {
	overflow:hidden;
	height:70px;
	color: #666666;
	background-color:#e9e9e9;
	margin-top:50px;
}

#footerWrap {
	width:1560px;
	margin:0 auto;
	height: 70px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	transform: none;
}

#footerWrap>div {display: flex; align-items: center;}

footer #footerLogo img{width:70px;}

#footerWrap>div>div {margin-right: 20px;}

#footerWrap>div:nth-of-type(2) span {
	padding: 0 5px;
	border-right: 2px #d7d7d7 solid; 
	border-left: 2px #d7d7d7 solid; 
} 

#footerWrap>div:nth-of-type(2) span a {
	color: #666666;
}

.search {
  width: 300px;
}
.search input {
  width: 80%;
  height: 26px;
  border: none;
  border-bottom: 1px #a5a5a5 solid;
  background-color: #f6f6f6;
}

.search button {
  font-size: 12px;
  border: none;
  background-color: green;
  width: 44px;
  height: 26px;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
}
/* footer 끝 */


/*home.jsp 시작*/
/*  ==================================================================*/

/*swiper*/
.swiper-slide>a>p {
	position: relative;
	top:300px;
	font-size: 40px;
}

.swiper {
	width: 1560px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 650px;
	object-fit: fill;
}

.swiper-button-next:after, .swiper-button-prev:after{
	color: #609966;
}

.swiper-pagination-bullet{
	background-color: #609966;
}

/* popup 시작 */
#popup {
	width: 1560px;
	height: 120px;
	overflow: hidden;
	margin: 0 auto;
}

.popups-list {
	display: flex;
	transition: .3s ease-out;
	height: 100%;
}

.popuplist img { 
	object-fit:contain;
	position: relative;
	left:50%;
	transform:translateX(-50%);
}

/* top 시작*/
/*  ==================================================================*/
#top {
	width:50px;
	height:50px;
	background-color:#3f9b3f;
	color:#fff;
	opacity: 1;
	position: fixed;
	right:50px;
	bottom: 100px;
	text-align: center;
	padding-top:14px;
	cursor: pointer;
}

#top:hover {
	background-color:#65c365;
}

.on {
	opacity: 1;
}

/*home.jsp 끝*/
/*  ==================================================================*/
@media all and (min-width:1701px) { 
	
}

@media all and (max-width:1700px) and (min-width:1201px) {
	.swiper {width: 1200px;}
	#wrapper {width:1100px;}
	#headerInWrap {width:1200px;}
	
	.swiper-slide img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: fill;
	}
	
	#popup {
	width: 1200px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	}
	
	.title {
	font-weight: 600;
	font-size: 18px;
	}
}

@media all and (max-width:1200px) {
	.swiper {width: 1200px;}
	#wrapper {width:1000px;}
	#headerInWrap {width:1000px;}
	
	.swiper-slide img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: fill;
	}
	
	#popup {
	width: 1200px;
	height: 100px;
	overflow: hidden;
	margin: 0 auto;
	}
	
	.title {
	font-weight: 600;
	font-size: 17px;
	}
}


	.padd8{
			padding: 8px;
		}
	.tag a {
	
		padding: 30px;
		
	}
	.regbtn {
		background-color:#44c767;
		color:#ffffff;
		font-size:15px;
		font-weight:bold;
		margin: 30px 0;
	    width: 100%;
	    height: 60px;
		text-decoration:none;
		border: none;
		height: 70px;
	}
	.regbtn:hover {
		background-color:#5cbf2a;
	}
	.regbtn:active {
		position:relative;
		top:1px;
	}
	.cp {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
	.jc {
		display: flex;
    	justify-content: end;
	}