@charset "UTF-8";

*{margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif, 'Noto Serif KR', serif; font-size: 15px;}
body {
    position: relative;
    height: 100%;
}

img{display: block; border:none;}
ul, li {list-style: none;}
a {text-decoration: none; color:#252525;}

#wrap, header, footer {width:100%; position: relative;}

header {z-index: 9;}


:root {
	
}

/* header */

/* main */
.title {
	font-weight: 600;
	font-size: 16px;
}

/* footer */
footer {
	color: #666666;
	height: 70px;
	font-size: 12px;
	background-color:#e9e9e9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2%;
	box-sizing: border-box;
}

footer>div {display: flex;}

footer>div>div {margin-right: 20px;}

footer>div:nth-of-type(2) span {
	padding: 0 5px;
	border-right: 2px #d7d7d7 solid; 
	border-left: 2px #d7d7d7 solid; 
} 

footer>div:nth-of-type(2) span a {
	color: #666666;
}

.search {
  width: 300px;
}
.search input {
  width: 80%;
  height: 26px;
  border: none;
  border-bottom: 1px #a5a5a5 solid;
  background-color: #f6f6f6;
}

.search button {
  font-size: 12px;
  border: none;
  background-color: green;
  width: 44px;
  height: 26px;
  border-radius: 10%;
  color: #fff;
  cursor: pointer;
}


@media all and (min-width:600px){
	header {height: 70px;}
	
	
	
	
/* 	
	 #headerInWrap {
		width:100%;
		position: absolute;
		display: flex;
		justify-content: space-between;
		padding: 30px 2% 0 2%;
		box-sizing: border-box;
		transition-property: background-color;
		transition: all ease 1s;
		background-color: transparent;
	}
	
	#headerInWrap:hover {
		 background-color: rgba( 255, 255, 255, 1 );
	}
	
	#menu{
		 display: flex;
		 gap: 0 50px;
	}
	
	#menu> li {
		position: relative;
	}
	
	#menu ul {
	    width:100%;
		margin-top: 30px;
		height : 0;
		transition-property: height;
		transition: all ease 1s;
		overflow: hidden;
	}
	
	#menu ul>li {
		margin-bottom: 10px;
	}
	
	#menu ul:hover{ 
		height: 500px; 
	}           
	 */
	
}