@charset "UTF-8";

/* myList */
/* section1 시작 ===============================================*/
#wrap{width:100%;}

#main {width:1560px; margin: 0 auto;}

section {width:100%; overflow: hidden; padding-bottom: 10px;}

table {margin-top: 30px;}

table th, table td {padding: 6px 0;} 

.deleteButton {
	float:right;
	margin:20px 0 0 0 ;
}

.titleWrap {
	width:100%;
	display: flex;
	justify-content: space-between;
	margin: 70px 0 20px 0;
}

.titleWrap a {
	font-weight: 600px;
}
.titleWrap a:hover {
	text-decoration: underline;
}

#sec1 #con1,#sec1 #con2 {
	height:300px;
	border: 1px solid #CFCFCF;
	box-sizing: border-box;
	float:left;
}

#con1 {
	width:27%;
	margin-right: 3%;
}

#con2 {
	width:70%;
}

#con1>div>img {
	width:28%;
	margin: 34px auto 0 auto;
	border: 1px solid #4da865;
	border-radius: 50%;
	padding: 5px;
}

#con1>div:nth-of-type(2) p{
	text-align: center;
	margin: 15px 0 10px 0;
	font-size:18px;
}

#con1>div:nth-of-type(3){
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap:8px;
}

#con1>div:nth-of-type(3) p:nth-of-type(1), #con1>div:nth-of-type(3) p:nth-of-type(3) {
	font-weight: 600;
}

#con1>div:nth-of-type(3) p:nth-of-type(2) {
	padding-right: 15px; 
	margin-right:10px;
	border-right: 2px solid #ccc;
}

#proFileBtn {
	margin-top:22px;
}
/*con2*/
#con2 {
	display: flex;
	padding:20px;
	box-sizing: border-box;
}

#con2>div:nth-of-type(1) {
	width:72%;
	padding-right: 45px;
}

#con2 #gradeWrapbox {
	height: 50px;
	background-color: #F1F1F1;
	margin:70px 30px 10px 30px;
}

#con2 #gradeInbox {
	width:0%;
	height: 100%;
	background: linear-gradient(to right, yellow, green);
	transition: all 0.5s;
}

#con2 #gradeMark {
	display:inline-block;
	text-align: center;
	padding: 5px 8px;
	box-sizing: border-box;
	width:90px;
	position:relative;
	margin-left: 0%;
	transition: all 0.5s;
	transform: translate(-80%,30%);
}

#con2 #gradeMark img {
	width: 100%;
	position: absolute;
	z-index: -1;
}

#con2 #gradeMark p{
	font-size: 15px;
	line-height: 18px;
	color: #fff;
	font-weight: 600;
}

#con2 #gradeMark p:nth-of-type(1) {
	margin:22px 10px 2px 20px;
}
#con2 #gradeMark p:nth-of-type(2) {
	margin:6px 10px 2px 20px;
}

#con2 #gradeFont {
	display: flex;
	justify-content: space-between;
}

#con2 #gradeFont p{
	font-size: 15px;
	font-weight: 600;
	color:#212121;
}

#con2 #gradeFont p:last-child{
	color:#909090;
}

#con2>div:nth-of-type(2) {
	padding:70px 20px 0 20px;
	box-sizing: border-box;
	font-size:13px;
}

#con2>div:nth-of-type(2) p{
	font-size:15px;
}

#con2>div:nth-of-type(2)>p{
	margin-bottom: 10px;
}

#con2>div:nth-of-type(2) p>span{
	color:green;
	font-size:16px;
	font-weight: 600;
}

#con2>div:nth-of-type(2) div {
	display: flex;
	padding: 5px 0;
	text-align: left;
}

#con2>div:nth-of-type(2) div p:nth-of-type(1){
	width:100px;
	font-weight: 600;
	color:#525252;
}

/*con3*/
#con3 {
	width:100%;
	float: left;
	border: 1px solid #CFCFCF;
	box-sizing: border-box;
	margin-top:30px;
}

.titleWrap1{
	text-align: left;
	margin:50px 0 20px 0;
	display: inline-block;
}

#myGrade {
	width:100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

#myGradeImg {
	width:100%;
	display: flex;
}

#myGradeImg>div{
	width:17%;
	height: 240px;
	margin-bottom:20px;
	position: relative;
	display: none;
}

#myGradeImg>div>img{
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
}

#myGradeImg>div:nth-of-type(1)>img{
	width:140px;
}
#myGradeImg>div:nth-of-type(2)>img{
	width:76px;
}
#myGradeImg>div:nth-of-type(3)>img{
	width:100px;
}
#myGradeImg>div:nth-of-type(4)>img{
	width:104px;
}
#myGradeImg>div:nth-of-type(5)>img{
	width:110px;
}
#myGradeImg>div:nth-of-type(6)>img{
	width:140px;
}


#myGrade>div {
	height:40px;
}

#myGrade>div>p{
	line-height:40px; 
	color: #fff;
	text-align: center;
}

#myGrade>div:nth-of-type(1) {background-color:#ff595e;}
#myGrade>div:nth-of-type(2) {background-color:#ffca3a;}
#myGrade>div:nth-of-type(3) {background-color:#8ac926;}
#myGrade>div:nth-of-type(4) {background-color:#90e0ef;}
#myGrade>div:nth-of-type(5) {background-color:#1982c4;}
#myGrade>div:nth-of-type(6) {background-color:#6a4c93;}

#myGrade>div>img {
	display: none;
}

/* section2 시작 ===============================================*/
#sec2 .titleWrap {
	margin: 50px 0 10px 0;
}
#sec2>div:nth-of-type(2){
	text-align: right;
}
#sec2>div:nth-of-type(2) button:nth-of-type(1){
	margin-right:20px;
}

#sec2Cont {
	width:100%;
}

#sec2Cont { border-collapse: collapse;}

#sec2Cont th, #sec2Cont td {
    border: 1px solid #444444;
}

#sec2Cont button{
	padding: 4px;
	margin: 4px 0;
}

/* PointMain 창 시작 */
#sendPointWrap {
	width:100%;
	height: 100%;
	background-color:  rgba(188, 188, 188, 0.5);
	position: absolute;
	top:0;
	display: none;
}

#sendPointInWrap {
	width:80%; 
	height: 200px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:12;
	background-color: #fff;
	border-radius: 8px;
	
}

#PointHeader {
	width:100%;
	background-color:#f8faad;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	box-sizing: border-box;
}

#PointHeader>div p {
	font-size:15px;
	font-weight: 600;
}

#PointMain {
	padding: 20px 0 20px 0;
	box-sizing: border-box;
}

#PointMain div {
	text-align: center;
}

#PointMain div:nth-of-type(2) {
	margin: 20px 0 20px 0;
}

#PointMain div:nth-of-type(3) button{
	margin:0 10px;
}
/* PointMain 창 끝 */










