@charset "UTF-8";

/* myList */
/* section1 시작 ===============================================*/
#wrap{width:100%;}

#main {width:80%; margin: 0 auto;}

section {width:100%;}

.titleWrap {
	width:100%;
	display: flex;
	justify-content: space-between;
	margin: 50px 0 20px 0;
}

#sec1 #con1,#sec1 #con2 {
	height:200px;
	border: 1px solid #CFCFCF;
	box-sizing: border-box;
	float:left;
}

#con1 {
	width:27%;
	margin-right: 3%;
}

#con2 {
	width:70%;
}

/* #con1>div:nth-of-type(1) {
	width:80%;
} */

#con1>div>img {
	width:40%;
	margin: 20px auto 0 auto;
}

#con1>div:nth-of-type(2) p{
	text-align: center;
	margin: 15px 0 10px 0;
}

#con1>div:nth-of-type(3){
	width: 60%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap:10px;
}

#con1>div:nth-of-type(3) p:nth-of-type(1){
	font-weight: 600;
}

/*con2*/
#con2 {
	display: flex;
	padding:10px;
	box-sizing: border-box;
}

#con2>div:nth-of-type(1) {
	width:80%;
}

#con2 #gradeWrapbox {
	height: 30px;
	background-color: #F1F1F1;
	margin:20px 30px 10px 30px;
}

#con2 #gradeInbox {
	width:0%;
	height: 100%;
	background: linear-gradient(to right, yellow, green);
	transition: all 0.5s;
}

#con2 #gradeMark {
	display:inline-block;
	background-color: #8080c0;
	text-align: center;
	padding: 5px 8px;
	box-sizing: border-box;
	margin-left: 0%;
	transition: all 0.5s;
}

#con2 #gradeMark p{
	font-size: 11px;
	line-height: 18px;
	color: #fff;
	font-weight: 600;
}

#con2 #gradeFont {
	display: flex;
	justify-content: space-between;
}

#con2 #gradeFont p{
	font-size: 12px;
	font-weight: 600;
	color:#212121;
}

#con2 #gradeFont p:last-child{
	color:#909090;
}

#con2>div:nth-of-type(2) {
	padding:20px 20px 0 30px;
	box-sizing: border-box;
	font-size:13px;
}

#con2>div:nth-of-type(2) p{
	font-size:13px;
}

#con2>div:nth-of-type(2)>p{
	margin-bottom: 10px;
}

#con2>div:nth-of-type(2) p>span{
	color:green;
	font-size:14px;
	font-weight: 600;
}

#con2>div:nth-of-type(2) div {
	display: flex;
}

#con2>div:nth-of-type(2) div p:nth-of-type(1){
	width:100px;
	font-weight: 600;
	color:#525252;
}

/*con3*/
#con3 {
	width:100%;
	height:240px;
	float: left;
	border: 1px solid #CFCFCF;
	box-sizing: border-box;
	margin-top:30px;
}

#myGrade {
	width:100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

#myGrade>div {
	height:40px;
}

#myGrade>div>p{
	line-height:40px; 
	color: #fff;
}

#myGrade>div:nth-of-type(1) {background-color:#ff595e;}
#myGrade>div:nth-of-type(2) {background-color:#ffca3a;}
#myGrade>div:nth-of-type(3) {background-color:#8ac926;}
#myGrade>div:nth-of-type(4) {background-color:#90e0ef;}
#myGrade>div:nth-of-type(5) {background-color:#1982c4;}
#myGrade>div:nth-of-type(6) {background-color:#6a4c93;}

#myGrade div p {
	text-align: center;
}

#myGrade2 {
	width:100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(1, 1fr);
}

#myGrade2 div img {
	width:80px;
}

/* section2 시작 ===============================================*/
#sec2>div:nth-of-type(2) button{
	margin-right:20px;
}

/* #recPaing {
	display:block;
}

#sendPaing {
	display:none;
} */

#sec2Cont {
	width:100%;
}

#sec2Cont { border-collapse: collapse;}

#sec2Cont th, #sec2Cont td {
    border: 1px solid #444444;
}

/* PointMain 창 시작 */
#sendPointWrap {
	width:100%;
	height: 100%;
	background-color:  rgba(188, 188, 188, 0.5);
	position: absolute;
	top:0;
	display: none;
}

#sendPointInWrap {
	width:80%; 
	height: 200px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index:12;
	background-color: #fff;
	border-radius: 8px;
	
}

#PointHeader {
	width:100%;
	background-color:#f8faad;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	box-sizing: border-box;
}

#PointHeader>div p {
	font-size:15px;
	font-weight: 600;
}

#PointMain {
	padding: 20px 0 20px 0;
	box-sizing: border-box;
}

#PointMain div {
	text-align: center;
}

#PointMain div:nth-of-type(2) {
	margin: 20px 0 20px 0;
}

#PointMain div:nth-of-type(3) button{
	margin:0 10px;
}
/* PointMain 창 끝 */









