<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Menu">  
  
   <!-- 메뉴 목록 가져오기 -->
   <select id="MenuList" resultType="com.green.menus.vo.MenuVo">
      SELECT   MENU_ID, MENU_NAME, MENU_SEQ, MENU_URI
      FROM     MENUS
      ORDER BY MENU_ID ASC
   </select>
   
   <!-- menu_id를 가지고 서브메뉴 목록 가져오기 -->
   <select id="SubmenuList" resultType="com.green.menus.vo.SubmenuVo">
      SELECT   SUBMENU_ID, SUBMENU_NAME,  SUBMENU_SEQ, MENU_ID, SUBMENU_URI
      FROM     SUBMENUS
      WHERE    MENU_ID = #{menu_id}
      ORDER BY SUBMENU_ID ASC
   </select>
   
   <!-- 서브메뉴 이름 알아오기 -->
	<select id         = "GetSubMenuName"
			resultType = "String">
        
        SELECT
        	SUBMENU_NAME
        FROM
        	SUBMENUS
        WHERE
        	SUBMENU_ID = #{ submenu_id }
        
	</select>
	
   <!-- 서브메뉴 목록 가져오기 -->
   <select id="SubmenuList1" resultType="com.green.menus.vo.SubmenuVo">
      SELECT   SUBMENU_ID, SUBMENU_NAME, SUBMENU_SEQ, MENU_ID, SUBMENU_URI
      FROM     SUBMENUS
      ORDER BY SUBMENU_ID ASC
   </select>

</mapper>





   