<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">  
  
  <!-- 
   <select id="UserList"
      resultType="com.green.user.vo.UserVo">
      SELECT USERID, USERNAME, 
             TO_CHAR(INDATE, 'YYYY-MM-DD HH24:MI:SS') INDATE 
        FROM TUSER
       ORDER BY INDATE ASC
   </select>
   
-->
   <insert id="UserWrite">
   
	INSERT INTO
		MEMBER
		(
			USERCODE,
			USERID,
			PASSWD,
			USERNAME,
			BIRTHDAY,
			GENDER,
			GRADE,
			ADDR,
			EMAIL,
			POINT
		)
		VALUES
		(
			( SELECT NVL( MAX(USERCODE ), 0 ) + 1 FROM MEMBER),
			#{ userid },
			#{ passwd },
			#{ username },
			#{ birthday },
			#{ gender },
			#{ grade },
			#{ addr },
			#{ email },
			500
		)
		
   
   </insert>
   
   <!-- 로그인 처리 -->
 	<select id="GetLogin"
 			resultType = "com.green.user.vo.UserVo" >
 	
 		SELECT
 			USERID,
			PASSWD,
			USERNAME,
			EMAIL,
			TO_CHAR( JOINDATE, 'YYYY-MM-DD HH24:MI:SS' ) AS JOINDATE,
			GRADE,
			ADDR
 		FROM
 			MEMBER
 		WHERE
 			USERID = #{ userid }
 		AND
 			PASSWD = #{ passwd }
 	
 	</select>
 	
</mapper>





   